<p class="maintainer">Package maintainers: <a href="https://github.com/xartin">xartin</a>, <a href="https://github.com/candrews">candrews</a></p>
<div class="intro">
  <p><a href="https://packages.gentoo.org/packages/www-apps/sonarr">Gentoo Linux includes sonarr</a> so it can be installed using Gentoo portage.</p>
</div>
<ol class="steps">
  <li>
    <h4>Install Sonarr</h4>
    <pre><code>emerge www-apps/sonarr</code></pre>
  </li>
  <li>
    <h4>Start Sonarr</h4>
    <pre><code>systemctl daemon-reload
systemctl enable --now sonarr</code></pre>
  </li>
  {{> view-step}}
</ol>
<details class="alternatives">
  <summary>Alternatives for advanced users</summary>
  {{> downloads/linux-manual}}
  {{> docker-alternative}}
</details>
