<dl class="archs">
  <dt>ARM <span>(ARM, armf and armhf)</span></dt>
  <dd><pre><code>https://services.sonarr.tv/v1/download/main/latest?version=4&amp;os=linux&amp;arch=arm</code></pre></dd>
  <dt>ARM64 <span>(arm64)</span></dt>
  <dd><pre><code>https://services.sonarr.tv/v1/download/main/latest?version=4&amp;os=linux&amp;arch=arm64</code></pre></dd>
  <dt>AMD64 <span>(x64)</span></dt>
  <dd><pre><code>https://services.sonarr.tv/v1/download/main/latest?version=4&amp;os=linux&amp;arch=x64</code></pre></dd>
</dl>
