<div class="tabs tabs-pills">
  <div class="tab-list" role="tablist">
    <button role="tab" aria-controls="downloads-linux-debian" aria-selected="true"><icon name="si:debian" /> Debian / Ubuntu</button>
    <button role="tab" aria-controls="downloads-linux-archlinux"><icon name="si:archlinux" /> Arch Linux</button>
    <button role="tab" aria-controls="downloads-linux-gentoo"><icon name="si:gentoo" /> Gentoo</button>
    <button role="tab" aria-controls="downloads-linux-freebsd"><icon name="si:freebsd" /> FreeBSD</button>
    <button role="tab" aria-controls="downloads-linux-other"><icon name="ellipsis" /> Others</button>
  </div>

  <div role="tabpanel" id="downloads-linux-debian" class="panel">
    <p class="maintainer">Package maintainers: <a href="https://github.com/sonarr/sonarr">Team Sonarr</a></p>
    <div class="intro">
      <p>The installation process described here uses an installation shell script. The script will configure the required systemd unit to auto-start Sonarr. It'll deploy the binaries in <code>/opt/Sonarr</code> and the configuration data will be stored in <code>/var/lib/sonarr</code>.</p>
      <div class="alert alert-info"><icon name="info" /><div><h4>Updating Sonarr v3 to v4</h4><p>The Sonarr v4 package overwrites v3's systemd unit if present. It's advisable to make a backup of the v3 data first and uninstall the previous <code>sonarr</code> package.</p></div></div>
    </div>
    <ol class="steps">
      <li>
        <h4>Install Sonarr</h4>
        <p>Run one of the below commands as <b>root</b>.</p>
        <div class="alert alert-warning"><icon name="triangle-alert" /><div>During the installation, you will be asked which user and group Sonarr must run as. It's important to choose these correctly to avoid permission issues with your media files. We suggest you keep at least the group name identical between your download client(s) and Sonarr. If you need to correct these after installation, please re-run the installation script.</div></div>
        <h5>curl</h5>
        <pre><code>curl -o install-sonarr.sh https://raw.githubusercontent.com/Sonarr/Sonarr/develop/distribution/debian/install.sh
sudo bash install-sonarr.sh</code></pre>
        <h5>wget</h5>
        <pre><code>wget -qO install-sonarr.sh https://raw.githubusercontent.com/Sonarr/Sonarr/develop/distribution/debian/install.sh
sudo bash install-sonarr.sh</code></pre>
      </li>
      <include src="view.html" />
    </ol>
    <details class="alternatives">
      <summary>Alternatives for advanced users</summary>
      <h4>Manual Install</h4>
      <p>It is possible to install Sonarr manually using a <code>.tar.gz</code> download. However in that case you must manually deal with dependencies, installation and permissions. You will need to download the correct package for your system.</p>
      <include src="linux-tarball.html" />
      <include src="docker-alternative.html" />
    </details>
  </div>

  <div role="tabpanel" id="downloads-linux-archlinux" class="panel" hidden>
    <p class="maintainer">Package maintainers: <a href="https://aur.archlinux.org/packages/sonarr-bin/">fryfrog, txtsd</a></p>
    <div class="intro">
      <p>The Arch Linux User Repository offers the <a href="https://aur.archlinux.org/packages/sonarr-bin/">sonarr-bin</a> package that can be installed manually or using your favorite <a href="https://wiki.archlinux.org/index.php/AUR_helpers">AUR helper</a>.</p>
      <div class="alert alert-info"><icon name="info" /><div><h4>Updating Sonarr v3 to v4</h4><p>Sonarr will convert an existing Sonarr database if found during startup. Of course, it is always advisable to make a backup first.</p></div></div>
    </div>
    <ol class="steps">
      <li>
        <h4>Install Sonarr</h4>
        <p>An AUR helper can install Sonarr and its dependencies easily, or follow the <a href="https://wiki.archlinux.org/index.php/Arch_User_Repository#Installing_packages">AUR Installing Packages</a> wiki for manual installation. For example, to use <a href="https://aur.archlinux.org/packages/paru">paru</a> to install the Sonarr package:</p>
        <pre><code>paru -S sonarr-bin</code></pre>
      </li>
      <li>
        <h4>Start Sonarr</h4>
        <pre><code>sudo systemctl daemon-reload
sudo systemctl enable --now sonarr</code></pre>
      </li>
      <include src="view.html" />
    </ol>
    <details class="alternatives">
      <summary>Alternatives for advanced users</summary>
      <include src="linux-manual.html" />
      <include src="docker-alternative.html" />
    </details>
  </div>

  <div role="tabpanel" id="downloads-linux-gentoo" class="panel" hidden>
    <p class="maintainer">Package maintainers: <a href="https://github.com/xartin">xartin</a>, <a href="https://github.com/candrews">candrews</a></p>
    <div class="intro">
      <p><a href="https://packages.gentoo.org/packages/www-apps/sonarr">Gentoo Linux includes sonarr</a> so it can be installed using Gentoo portage.</p>
    </div>
    <ol class="steps">
      <li>
        <h4>Install Sonarr</h4>
        <pre><code>emerge www-apps/sonarr</code></pre>
      </li>
      <li>
        <h4>Start Sonarr</h4>
        <pre><code>systemctl daemon-reload
systemctl enable --now sonarr</code></pre>
      </li>
      <include src="view.html" />
    </ol>
    <details class="alternatives">
      <summary>Alternatives for advanced users</summary>
      <include src="linux-manual.html" />
      <include src="docker-alternative.html" />
    </details>
  </div>

  <div role="tabpanel" id="downloads-linux-freebsd" class="panel" hidden>
    <p class="maintainer">Package maintainers: <a href="https://cgit.freebsd.org/ports/tree/net-p2p/sonarr">mvanbaak</a></p>
    <div class="intro">
      <p>Sonarr can be installed using the FreeBSD Sonarr <a href="https://cgit.freebsd.org/ports/tree/net-p2p/sonarr">Port</a>.</p>
    </div>
    <ol class="steps">
      <li>
        <h4>Install Sonarr</h4>
        <pre><code>pkg install sonarr</code></pre>
      </li>
      <li>
        <h4>Start Sonarr</h4>
        <pre><code>sysrc sonarr_enable=YES
service sonarr start</code></pre>
      </li>
      <include src="view.html" />
    </ol>
    <details class="alternatives">
      <summary>Alternatives for advanced users</summary>
      <include src="linux-manual.html" />
      <include src="docker-alternative.html" />
    </details>
  </div>

  <div role="tabpanel" id="downloads-linux-other" class="panel" hidden>
    <div class="alert alert-info"><icon name="info" /><div>Please contact us if you wish to port Sonarr v4 to any other distribution than the ones already listed.</div></div>
    <p>A generic download is available for Linux, but dependencies, installation and permissions will need to be done manually.</p>
    <include src="linux-tarball.html" />
  </div>
</div>
