<div class="tabs tabs-pills">
  <div class="tab-list" role="tablist">
    <button role="tab" aria-controls="downloads-nas-synology" aria-selected="true"><icon name="si:synology" /> Synology</button>
    <button role="tab" aria-controls="downloads-nas-qnap"><icon name="si:qnap" /> QNAP</button>
    <button role="tab" aria-controls="downloads-nas-other"><icon name="ellipsis" /> Others</button>
  </div>
  <div role="tabpanel" id="downloads-nas-synology" class="panel">
    <div class="alert alert-info"><icon name="info" /><div>A Sonarr package is maintained by <a href="https://synocommunity.com/">SynoCommunity</a>. Please contact us if you wish to include the appropriate install instructions on this page.</div></div>
  </div>
  <div role="tabpanel" id="downloads-nas-qnap" class="panel" hidden>
    <div class="alert alert-info"><icon name="info" /><div>The Sonarr QNAP port is being maintained by the QNAP forum community. Please contact us if you wish to include the appropriate install instructions on this page.</div></div>
  </div>
  <div role="tabpanel" id="downloads-nas-other" class="panel" hidden>
    <div class="alert alert-info"><icon name="info" /><div>Please contact us if you wish to port Sonarr to any other NAS than the ones already listed.</div></div>
    <p>A generic download is available for Linux, but dependencies, installation and permissions will need to be done manually.</p>
    <div class="actions"><a class="btn btn-primary" href="https://services.sonarr.tv/v1/download/main/latest?version=4&amp;os=linux"><icon name="download" /> Linux .tar.gz</a></div>
  </div>
</div>
