{{#> alert}}Please contact us if you wish to port Lidarr to any other distribution than the ones already listed.{{/alert}}
<p>Generic .tar.gz downloads are available for Linux, but dependencies, installation and permissions will need to be done manually.</p>
<div class="actions">
  <a class="btn" href="https://lidarr.servarr.com/v1/update/master/updatefile?runtime=netcore&amp;os=linux&amp;arch=x64">{{icon "download"}} Linux x64</a>
  <a class="btn" href="https://lidarr.servarr.com/v1/update/master/updatefile?runtime=netcore&amp;os=linux&amp;arch=arm">{{icon "download"}} Linux arm</a>
  <a class="btn" href="https://lidarr.servarr.com/v1/update/master/updatefile?runtime=netcore&amp;os=linux&amp;arch=arm64">{{icon "download"}} Linux arm64</a>
  <a class="btn" href="https://lidarr.servarr.com/v1/update/master/updatefile?runtime=netcore&amp;os=linuxmusl&amp;arch=x64">{{icon "download"}} Linux Musl x64</a>
</div>
